[2020-04-04 01:59] sanderclaeys opened #2 "r/x property naming"
In the old data model, there were several property names that repeated the component name. For example, the bus to which a load was connected, had the name `load_bus`. In this case, I want to get rid of `load` in the property name, because that does not add any information.

However, there might be a few exceptions to this rule. For example, the active power consumed by the load could be called `p

[2020-04-07 04:31] sanderclaeys opened #3 "length units"
Do we convert everything to meters or do we allow specifying a length unit?

[2020-04-08 02:12] #3 closed, assigned to nobody

[2020-04-08 02:21] sanderclaeys opened #4 "time series referencing"
Should the `time series` keep track of the fields that they apply to, or the other way around?

Personally, I prefer giving the `time series` a list of fields that it should apply to, e.g.
```fields=Vector{tupples of the form (comp_type, comp_id, comp_field)}```
This has the benefit that the time series will be completely self-contained; removing the time series, will still define a base case.

Th

[2020-04-08 02:44] sanderclaeys opened #5 "overwriting referenced technology fields"
Technology data objects (`linecode` and `xfmrcode`) prevent repetition of common line and transformer properties. Should components be able to overwrite fields defined in the technology data object?

I think we leaned towards allowing this, but I just wanted to make sure.

[2020-04-08 03:42] sanderclaeys opened #6 "status field for data objects"
@pseudocubic
`xfmrcode` and `linecode` have a status property; this should bee removed right?

[2020-04-08 04:40] sanderclaeys opened #7 "units of transformer loss model"
In OpenDSS, transformers have an apparent power rating and voltage rating per winding, `snom` and `vnom`. n-winding transformers have 4 main loss properties
| field | description | length | OpenDSS base |
|-|-|-|-|
|`xsc`| percent short-circuit reactance for each pair of windings | n(n-1) | `snom[1]` |
|`%rs`| percent series resistance for each winding | n  | `snom[w]` |
|`%imag`| percent magnetiz

[2020-04-08 21:26] sanderclaeys opened #8 "load demand names"
Continues a discussion started in #2

Originally, the property names were `pd/qd`. There are two subtopics here.
1. Do we want to keep the `d` in `pd/qd`, or give them another name altogether?
2. Do we want to indicate in the name that these are 'nominal' values? E.g. for all load models that are not constant-power, `pd(var)=pd(prop)` only if `v=vnom`; perhaps then also `pd_nom/pd_ref` makes more

[2020-04-08 21:32] sanderclaeys opened #9 "zip coefficient names"
Decide on naming of zip coefficients; two options, better ones are welcome

| p/q | z/i/p | option 1 | option 2 |
|-|-|-|-|
|p|z|coeff_p_z|active_z|
|p|i|coeff_p_z|active_i|
|p|p|coeff_p_z|active_p|
|q|z|coeff_p_z|reactive_z|
|q|i|coeff_p_z|reactive_i|
|q|p|coeff_p_z|reactive_p|

These define how the active power `P` and reactive power `Q` depend on the voltage magnitude `V`. With the additional p

[2020-04-08 21:48] sanderclaeys opened #10 "bus types"
There are two topics to discuss here.

1. Do we want to explicitly introduce a `bus_type` like matpower does?

Personally, I think this is not needed. As I argue below, we can handle all cases with our current bus model
|Int|meaning|bus implication|
|-|-|-|
|1|PQ bus|none|
|2|PV bus|`vm` is set|
|3|reference bus|`vm` and `va` are set|
|4|isolated bus|`status=0`?|

2. Should perhaps generators have

[2020-04-09 00:15] sanderclaeys opened #11 "ub/lb and ratings"
@pseudocubic I have no issue with replacing the `min/max` with `ub/lb`. Basically, the properties
`varname_lb` and `varname_ub` would imply `lb <= var <= ub`.

However, what about ratings? As I intended it, a rating is always positive, and `varname_rating` would imply `-rating<=var<=rating` for real variables,
and `real(var)^2+imag(var)^2<=rating` for complex variables

[2020-04-09 00:22] #5 closed, assigned to nobody

[2020-04-09 00:24] #6 closed, assigned to nobody

[2020-04-14 12:11] sanderclaeys opened #13 "complex properties"
Supporting complex properties has pros and cons.

- Complex parameters will make it more difficult to edit/process the data model in languages other than Julia. Let's say that at some point we evolve to a front-end tool that uses PMD as a backend. It's main way of interacting with it, would be to dump the problem it wants to solve into a data model description, and passing this to PMD. If the fron

[2020-04-17 00:52] #13 closed, assigned to nobody

[2020-04-17 00:52] #9 closed, assigned to ccoffrin, pseudocubic

[2020-04-17 02:30] sanderclaeys opened #15 "shunt capacitor"
Do we specify either
- pairs of terminals (more general, as used by OpenDSS)
- `configuration` + list of terminals?

[2020-04-17 03:21] sanderclaeys opened #16 "vg property for generators missing"
If you support PV models, you should also allow the user to specify a corresponding magnitude

[2020-04-17 03:22] sanderclaeys opened #17 "linecode switches"
Should switches have a linecode?

[2020-04-17 03:33] sanderclaeys opened #18 "required options"
List of possible values for the 'required' column and their implication
- `always`: field should always be specified
- `default`: if not specified, this is equivalent to setting it to the specified default value
- ` `: meaning of absence of the field, depends on the context
- `opf`: not sure this is useful in this column, because even for opf, most bounds are not required but optional

[2020-04-17 03:36] #2 closed, assigned to nobody

[2020-04-17 03:37] #4 closed, assigned to nobody

[2020-04-17 03:37] #8 closed, assigned to ccoffrin, pseudocubic

[2020-04-17 03:38] #11 closed, assigned to frederikgeth

[2020-04-17 03:39] #10 closed, assigned to nobody

[2020-04-17 21:10] #16 closed, assigned to nobody

[2020-04-17 21:33] #15 closed, assigned to nobody

[2020-04-17 23:20] #7 closed, assigned to pseudocubic, frederikgeth

[2020-04-17 23:20] #18 closed, assigned to nobody

[2020-04-21 06:58] hakanergun opened #22 "Inverter models"
My suggestion would be to have a separate inverter model which can connect "DC" sources such as PV and batteries with the AC grid, rather than having the inverters as part of the PV or storage systems. This would help to avoid having inverters double (thus double the losses), if one would like to connect PV and batteries on the DC side. That would also help to connect many other items interchangea

[2020-04-21 09:14] sanderclaeys commented on #22
We at some point discussed separating the inverter from the DC source, but at that time decided against it because these user would have to look in two places (whilst in most use cases, each DC-source has its own inverter).

Perhaps a solution can be to allow DC sources to refer to an inverter, or define it in place. When devices refer to an inverter, that inverter lumps all of the devices that re

[2020-04-21 11:38] MartaVanin opened #23 ":state in switches maybe confusing?"
Hello,
first of all, I would like to say that I find the engineering data model very well documented, thank you for this.
In switches you have both :state and :status, which are very similar terms. Couldn't this maybe give rise to conclusions?
I don't know what a good term to replace :state could be, maybe something like :open?

[2020-04-21 12:24] sanderclaeys commented on #23
If it was named `open`, there would be no confusion what `open=true` means, whilst `state=true/1` is also more ambiguous. Though instead of `open` I would opt for `closed`, because then the conducting/on state would be `closed=true/1`.

@ccoffrin what is your opinion?

[2020-04-21 12:39] MartaVanin opened #24 "multinetwork and time_series"
Maybe this piece of documentation is not the right place to address this question, but I was wondering how to write multiperiod problems using the new "time_series" entries. Previously, I was using the "multinetwork" paradigm, which required to copy the fixed network data for all the considered time steps. I find it very convenient if that is no longer necessary, as the time_series key seems to su

[2020-04-21 12:55] sanderclaeys commented on #24
The idea is that starting from the PMD `0.9` release, there will be two data models,
- the engineering data model (`data_eng`), as described here
- the mathematical data model (`data_math`), which is the one we use now

The philosophy is that the engineering data model is more flexible, and more intuitive to users; all units are in SI, there are more components, you can add timeseries the way you

[2020-04-21 13:19] pseudocubic commented on #23
we also played with using `String` values `"open"` and `"closed"` for state to make it less confusing, would that be preferable?

[2020-04-21 13:26] pseudocubic commented on #22
This is a use case I hadn't considered. I definitely can see the benefit of having multiple DC sources behind a single inverter.

Like Sander suggested, we could build something in that could lump the inverters together into a single loss model, similar to how the `"bank"` property works on transformers in OpenDSS. I think this would be the most straightforward to add (without having to define an

[2020-04-21 13:46] MartaVanin commented on #24
ok, I see. So in the data_math it falls back to the old "nw" dictionary structure.
Say I have two loads but only one of them refers to a time_series. Do you throw an error/warning or do you automatically generate a (constant) time_series for the second load? I can see problems arising if the users overlook their data, so I would throw a very explicit warning

[2020-04-21 13:59] sanderclaeys commented on #22
What I had in mind was more like a `branch/linecode` if we want to support both use cases; either you define the inverter on the component, or you refer to the inverter it connects to. (the difference is that a `linecode`is just a technology, whilst the `inverter` would be a component)

[2020-04-21 14:00] MartaVanin commented on #23
@pseudocubic I am not sure.. if the switch state is just to be used as input, then I think the string is the clearest, but if you want it to be a variable it is more consistent to just have it already in 1/0, I guess.
I liked sander's :closed suggestion

[2020-04-21 14:02] sanderclaeys commented on #24
Properties that do not have an associated timeseries, are kept constant. To give a warning when this happens would be difficult, because you can define timeseries on almost any property, not just the `pd_nom/qd_nom` of a load (think of inverter efficiencies, PV irradiances...). So this would generate a lot of warnings in most use cases

[2020-04-21 14:05] sanderclaeys commented on #23
One idea of the `eng/math` separation is that at the engineering level, we can be more verbose and descriptive, whilst at the mathematical level, it can be closer to what the variables would look like. At the mathematical level, we can assume we are dealing developers, and expect them to know the difference between `state/status`

[2020-04-21 16:15] MartaVanin commented on #23
@sanderclaeys then maybe with this approach in mind I find an "open/closed" string more user-friendly

[2020-04-21 16:41] MartaVanin opened #25 "v_var_scalar"
I personally find the use of this setting difficult to understand from the present documentation.
Could you perhaps shed some light?

[2020-04-21 16:58] ccoffrin commented on #24
An orthogonal remark to the `eng` vs `math` modeling discussion.  For general information, Multinetworks are more general than time series.  However, all infrastructure models packages now have some basic support for encoding `time_series` data and helper functions for converting into multinetwork data for the purpose of solving multi-period optimization problems.

https://github.com/lanl-ansi/Inf

[2020-04-21 18:06] sanderclaeys commented on #25
The parameter controls the unit for all voltage and power values, e.g.
- If `v_var_scalar=1`, then all voltages are in `V` and all power in `W` etc
- If `v_var_scalar=1E3`, then all voltages are in `kV` and all power in `kW` etc

The idea here was to support that some people prefer using `kV` as a unit, other `V` etc. Does this fit your use case, or do you have a better name perhaps?

[2020-04-22 07:04] MartaVanin commented on #24
ok, fair enough :)

[2020-04-22 07:13] MartaVanin commented on #25
It doesn't particularly matter for my use case, I was just thinking whether it isn't confusing to use the same multiplier for power and volts. Also the name starting with "v_"  suggests it is for voltage, it is a bit puzzling to see it applied to both voltage and power. Maybe a more neutral name like "prescaler" can obviate this problem.
Is there any particular reason for not having two different

[2020-04-23 03:14] sanderclaeys commented on #25
I agree that it is confusing, splittting them would be better. (the `_var_` in the name stands for volt ampere reactive)

[2020-04-23 14:07] pseudocubic opened #26 "model identification"
One comment I received by email suggested that we consider a boolean or enum to identify the model. I put two examples of possibilities for this:

`"data_model" => 1`, indicating e.g. the engineering model, and `2` the mathematical (or some other variant of this)

or something like

`"eng_data_model" => true`.

Thoughts?

[2020-04-23 17:59] pseudocubic commented on #26
I misunderstood the point about using an enum. The below would define an enum

[code]

This has the advantage of looking like MathOptInterface while still being human readable.

[2020-04-23 19:27] ccoffrin commented on #26
In PowerModels we have avoided enums in the data model in favor of being serializable to native JSON.  So I think that is a feature worth consideration.  If PMD already needs some extra processing (e.g. for multi-conductor values) then I think it is reasonable to also have enums in the data model.

[2020-04-23 19:34] ccoffrin commented on #23
In the engineering model I think the eccodings "state" = 0/1 or  "state"="open"/"closed" or "closed" = true/false are all resonable.

In the mathematical model, I would stick with 0/1 values but I would consider changing "state" to "closed", if that is what the final concenus is here.

[2020-04-24 03:36] frederikgeth commented on #23
I prefer this option: "state"="open"/"closed"

I note though, that a field `dispatchable` is missing.

[2020-04-24 03:46] sanderclaeys commented on #26
I agree that the timing might be right for enums. Though if we do it here, I would like to do it consistently and add it also in a few other places;
| component | field | enums |
| - | - | - |
| `switch` | `state` | `OPEN`, `CLOSED` |
| many | `configuration` | `WYE`, `DELTA` |
| root | `data_model` | `ENGINEERING`, `MATHEMATICAL` |

Any other ones that you can think of? @pseudocubic @frederikgeth

[2020-04-24 10:36] frederikgeth opened #27 "list of people to ask for feedback next?"
- Nando Ochoa
- Andrew Urquhart
- Ray Zimmerman
- Andrew Keane
- Valentin Rigoni
- Roger Dugan
- Tom Short
- Tarek Elgindy
- Bryan Palmintier
- Dheepak Krishnamurthy
- CSIRO colleagues (John, Gavin, Julio, James, Thomas)

[2020-04-24 14:10] ccoffrin commented on #27
I would caution about seeking a lot of feedback.  My experience is that there are diminishing returns as more folks are asked.

At this stage, I would focus on getting buy in from any would be near term users.  And after the model has broader adoption, then consider inquiring with a wider collection of folks.

[2020-04-24 14:12] ccoffrin commented on #17
Can you remind me the situation when switches have losses?

[2020-04-24 14:18] ccoffrin commented on #22
If you are going to support DC buses explicitly then I think having a separate inverter component is required and this use case can be supported.  AC components connect to AC buses (which may include a lumped inverter); DC components connect to DC buses; the inverter component links AC and DC buses.

If you not yet plan to support explicit DC buses then, I would say that @hakanergun's proposed use

[2020-04-24 14:22] ccoffrin commented on #26
@sanderclaeys, can you confirm if the current JSON serialization of this data format already requires some extra processing?  If not, I don't think enum's along a good reason to add that extra complexity.

FWIW, I have only every suggested the use of enums a codebase, not in a data model.

[2020-04-24 14:23] ccoffrin commented on #25
Why not "voltage_scalar"?

[2020-04-25 03:01] sanderclaeys commented on #26
@ccoffrin Yes, I customized the JSON serialization for Matrix types in the past. This is not good for sharing the model across environments, but made its json output more readable.

Right, though where a property is restricted to a list of strings in the data model, this would be implemented as an enum in the codebase?

[2020-04-25 14:57] akbarnes commented on #23
I think having a 0/1 field `closed` is most convenient, I don't see any flexibility gains from using a string value unless you want to include values like "fixed-closed," "fixed-open" or "switchable," but I'd prefer a separate boolean like `dispatchable` or `switchable `for that

[2020-04-25 15:16] akbarnes commented on #22
If we are deferring support of DC components until a later release (which seems reasonable) the use case @hakanergun mentioned could be handled by adding support for dc-linked storage (and possibly loads) to the PV object, or to create a new PV+storage object. There are real inverters designed like this so there is some justification to represent PV+storage as a single object. This would require s

[2020-04-25 15:26] akbarnes opened #28 "Data structure won't serialize/deserialize to json"
JSON only supports string keys. Using arbitrary immutable values as keys for components means that the json encoder will either throw an error or convert the immutable key to a string representation.

[2020-04-25 16:27] akbarnes opened #29 "GIS fields for all component types"
I don't think that this is in the writeup, but I did notice that buses in the engineering model have lat/lons associated with them, but other components don't. Consider adding support for geojson geometry objects to both edge and node type objects, with particular emphasis on supporting linestrings for lines, a shortcoming of most tools.

[2020-04-25 16:32] akbarnes opened #30 "Support for aggregations"
Currently data model doesn't include aggegrations other than voltage class. Including a circuit field under loads is useful to group loads that must be shed collectively. An aggregation for lines is useful to group lines in planning problems where all lines in a group are hardened collectively.

[2020-04-25 16:42] akbarnes opened #31 "mutually coupled line models"
This is the use case of Kersting 4.1.8 "Parallel overhead distribution lines." I think this is supported by having buses and lines with an arbitrary number of terminals as described in bullet 2 of the Buses section. Is this correct?

[2020-04-25 16:48] akbarnes opened #32 "Generator reactances"
I recall an earlier discussion on including a series impedance and possibly GSU as part of the engineering generator model. Explicitly including these in the mathematical representation is convenient for fault modeling. Is this no longer planned?

[2020-04-25 16:55] akbarnes opened #33 "Fault objects"
Another special case of shunt objects. Typically this only includes a bs matrix, though some software also supports gs.

[2020-04-26 11:04] hakanergun commented on #22
hi, in fact we are working on  a multi-conductor DC grid formulation as an extension of PowerModelsACDC.jl. The idea there is also to leverage the multi-conductor support of PMD, and I'd like it to be able to work for both balanced single conductor representation of the AC system as  (PM) well as the multi-conductor version (PMD). We have been focussing on the mathematical derivation so far, and a

[2020-04-27 00:16] pseudocubic commented on #17
original fr_bus -> ideal switch -> virtual bus -> virtual branch -> original to_bus

[2020-04-27 00:17] pseudocubic commented on #26
I have an example of this working in the current data model branch with not many changes having to have been made. I used the JSON serialization framework that we already had that Sander referred to to test this out and it seems to work well

[2020-04-27 00:21] pseudocubic commented on #32
It is not planned in the immediate release, but the fields that would represent that are additive, and should not be breaking changes to the model we have proposed here

[2020-04-27 00:28] pseudocubic commented on #25
Having separate power and voltage scalars as @MartaVanin suggests would be fine with me, and we could use names like @ccoffrin's suggestion, `power_scalar`, `voltage_scalar`

[2020-04-27 00:30] pseudocubic commented on #23
As @sanderclaeys suggested in #26, it might be better to use `enum` for this, so that 0/1 are acceptable as are enums `OPEN` and `CLOSED`

[2020-04-27 00:33] pseudocubic commented on #28
I'm not sure that all models necessarily need to be straight JSON serializable, just the most common use cases. We could always throw a warning about exports if a user chooses to use a non-string component id, and as you say, those ids will just be converted to strings, so its not like the models will be invalid on re-importation

[2020-04-27 00:34] pseudocubic commented on #33
This object is additive and therefore can be added in v0.9.1 e.g. and I don't think should hold back the finalization of the current state of the proposed model

[2020-04-27 14:39] pseudocubic commented on #29
Actually, I don't think we standardized around any GIS information in the eng model, because PowerModelsDistribution is not location-aware, so it felt out of scope. Rather, since the model is extensible, in that it is a simple dictionary structure which is serializable into JSON, any additions to the model by Users that do not collide with the specified data fields can be supported without issue.

[2020-04-27 14:41] pseudocubic commented on #31
Yes, I believe that is true

[2020-04-27 14:45] pseudocubic commented on #30
To make sure I understand, you would like to have a standard way to group components (like specifying a zone?), but you don't need an additional Zone data object to keep track of additional information about that zone?

[2020-04-27 16:37] akbarnes opened #34 "generalize time series"
It sounds like the time_series objects are a convenient way to populate the varying parameters in a multinetwork model? Is it reasonable to generalize them beyond time series? I can think of a couple use cases that can come up:

1. Peak, shoulder & off-peak loadings. This has come up with contingency analysis a couple times. Some decision variables can be shared across loadings even if there are n

[2020-04-27 16:40] akbarnes commented on #30
If zones are supported under PMD then that should work. A potential gotcha is whether branch objects can be associated with a zone, not just their buses.

[2020-04-27 16:44] akbarnes commented on #22
Maybe it might make sense to keep a PV + storage object out of PMD + the main data model if a mixed ac-dc formulation is coming. Where would be an appropriate place for a PV + storage object if it does in a different repo, maybe a *Annex.jl repo?

[2020-04-27 16:44] #31 closed

[2020-04-27 17:38] akbarnes commented on #25
I also vote for separate `power_scaling` and `voltage_ scaling`, as volt-var control is a thing and the existing name invites confusion. Also using `scaling` or `scaling_factor` makes more sense to me than scalar, at least based on my understanding of the word "scalar"

[2020-04-27 18:23] bluejuniper opened #35 "handling control objects"
In OpenDSS, fuses and other protective devices are represented as control objects that point to a terminal of a line or transformer object. In the proposed engineering model, protective devices are a type of edge object. There are 2 issues I can see with this:

1. While representing reclosers or fuses as branches works, some protective relaying schemes such as line pilot protection or differential

[2020-04-27 18:36] pseudocubic commented on #35
Do you have a concrete example of a dss circuit definition that uses fuses so I can see how they are typically implemented?

I didn't appreciate before that fuses could be applied to any terminal of any circuit element. This poses some problems with the current idea that we would have a separate fuse object that is a physical edge. Instead this would make fuses something like a data object and any

[2020-04-27 23:33] ccoffrin commented on #17
Let me rephrase, when do one want to model non-ideal switches?  As I recall, @frederikgeth was promoting a use case, but it might have been only to match the semantics of switches in OpenDSS.

[2020-04-27 23:58] ccoffrin commented on #25
something like `voltage_scale_factor` and `power_scale_factor` would be consistent with the naming convention we adopted in power models.

[2020-04-28 00:03] ccoffrin commented on #28
@akbarnes, I'll point you to this discussion, https://github.com/sanderclaeys/pmd-data-model/issues/26.

One of the challenges we have in distribution models is that several parameters are best represented as matricies and JSON does not natively support them.  The current thinking is that we should add a little bit of post processing to convert a JSON encoding into a native matrix.  Once you cross

[2020-04-28 00:06] ccoffrin commented on #29
This feature has come up a sufficient number of times I would like to have a standard approach for all of InfrastructureModels packages.  I agree with @pseudocubic that it seems orthogonal in scope for the near term goals of this data model and can be revisited once the basic eng data model is working.

[2020-04-28 00:07] ccoffrin commented on #30
@akbarnes can you elaborate a bit about use cases in distribution networks where groupings like zones/areas/owners are useful?

[2020-04-28 00:08] ccoffrin commented on #33
I might mark this a high priority for v0.9.1 given the near-term use cases.

[2020-04-28 00:11] ccoffrin commented on #34
Are you familiar with the multi-network feature at the mathematical model level?  This can be used to address all of these cases.  I am not immediately seeing a way to make generalized support tools for these specific cases.  Time series has been the one consistent and common structure that we have been able to support with generic helper functions.

[2020-04-28 00:18] ccoffrin opened #36 "DSS Data Model"
What does "data_model" => "dss" mean?

[2020-04-28 00:26] ccoffrin commented on #26
BTW, if you are going to start using enums, you probably want to make things consistent throughout.  For example `status` could be an enum.  This might be a slippery slope.

[2020-04-28 00:33] ccoffrin opened #37 "Types of Values for Connections, Terminals, Phases, ..."
Are they really `Vector{Any}`?  Seems super hard to do correctness checking on this.  For example `[1.2, "c", 3, "n"]` would be a valid input.  If possible, I would strengthen most of the "Any" types to "String", I think that is sufficiently general.

[2020-04-28 00:37] ccoffrin opened #38 "Which takes presidence, cm_ub or sm_ub if both are specified?"
to answer this question, I recomend that there is no precedence among these they are independent pieces of data.  It is the job of the optimization and data processing to capture one, both or determine if one is redundant in light of the other.

[2020-04-28 00:41] ccoffrin opened #39 "tm_fix in AL2W"
should be a vector of bool not real.

[2020-04-28 00:44] ccoffrin opened #40 "Tranformer Electrical Parameters"
I am not seeing where the transformer parameters come from, is it a transformer code or directly inside the object?  Fields seem to be missing in the AL2W case.

[2020-04-28 00:47] ccoffrin commented on #17
I can imagine an argument for switches to have a resistance and reactance.  But conductance on the from and to side seems very odd to me.  I would recomend justifying that or removing it.

[2020-04-28 00:48] ccoffrin opened #41 "Switch Control"
Is there a way to specify if a switch is controllable or not?  One possibility is to use the `dispatchable` approach for this.

[2020-04-28 00:52] ccoffrin opened #42 "Specialization of shunt_capacitor and shunt_reactor"
Can these really get away without a `gs` value?  It seems to assume a level of data quality that have I not often seen.

[2020-04-28 00:55] ccoffrin opened #43 "Generator control_mode"
Are we mixing power flow semantics with control modes here?  For example is fixed P/Q really possible?  I would have expected values like PV and droop.

[2020-04-28 00:57] ccoffrin opened #44 "Control Mode in other components"
Should Solar, Wind and Storage also have control modes similar to generators?

[2020-04-28 01:00] ccoffrin opened #45 "Non-Symetrical Angles at a Voltage Source"
might you want to model some non-symetrical voltage angles?  This seems more consistent with providing a vector of `vm` and would allow you to more accurately model a boundary condition.

[2020-04-28 01:03] ccoffrin opened #46 "Curves Seem Too Generic"
This does not appear to be fully defined.  Do these apply to specific types of components?  If so, maybe embed them inside that component?  A similar situation are generator cost functions that can model very similar curves.

[2020-04-28 01:05] ccoffrin opened #47 "Voltage Zone Motivations"
I am not sure why these are included.  If they are just a "helper" for setting bounds I would remove them.  If they serve additional purpose I would keep them with that extra explanation.

[2020-04-28 01:08] ccoffrin opened #48 "Time Series Multiply vs Replace"
I am not sure there is a lot of added value from multiply over replace, replace is more general.  Is there some motivation for also supporting multiply?

[2020-04-28 01:10] ccoffrin opened #49 "Time Series in Codes"
The semantics of supporting time series in line codes and the components may be quite hard to understand.  Is it possible to only support one or the other?

[2020-04-28 01:14] ccoffrin opened #50 "Time Series Time Values"
There needs to be a way to correctly line up time series that do not have consistent starting times and are not quantized.  One simple fix would be to add a required "start_time" field that at a UTC encoded string to identify the offset of the hours list.

[2020-04-28 01:15] ccoffrin opened #51 "Some Naming Conventions"
I think these could be improved,
- `set_vbase` `set_sbase` in settings
- use of `connections`key in components and `terminals` key in buses, seems confusing.
- `vnom`/`snom` check consistency with rest of spec.  Maybe should be `vm_nom` and `sm_nom`?  For example see `tm_nom`

[2020-04-28 01:18] ccoffrin opened #52 "rx value in transformers"
It seems odd to me that transforms have `rs` and `xsc` and not `xs` and `rsc`.  A hard learned lesson for me was that it is almost always best to specify electrical values should in a complex form, even if that means some parts are zero most of the time.

[2020-04-28 01:21] pseudocubic commented on #36
It is raw dss, the reason to keep track of this is for a node counting tool we have, where it needs to know what data type it has in order to accurately count active nodes in the network

[2020-04-28 01:24] pseudocubic commented on #26
It definitely is, I played with this a bit today on an experimental branch and there turns out to be a lot of places in the code where we have to be careful about having everything consistent. That said once I added one (load models) the rest seemed to follow more naturally.

[2020-04-28 01:24] ccoffrin opened #53 "Time Series Specification in Components"
The subsets of keys that are supported seem arbitrary to me.  For example on a bus, why can I put time series on `vm_lb` and not `vm_pair_lb`, or any other value?  In general, can time series be applied to any component value?

I would also like to propose an alternative encoding.  In stead of,
[code]
How about,
[code]
For all key/value pairs in "time_series", the semantics is look up the time ser

[2020-04-28 01:25] ccoffrin commented on #36
Is it an internal model?  If so maybe we don't need to document its existence here?

[2020-04-28 01:26] pseudocubic commented on #37
We have gone back and forth on this, and the original use case was that we wanted to support people specifying phases like “a”, “b”, “c”, etc, but we only implemented integers, and frankly it would be more convenient to stick only with ints. Thoughts @sanderclaeys ?

[2020-04-28 01:27] pseudocubic commented on #39
I think in implementation it is bools, good catch!

[2020-04-28 01:28] ccoffrin commented on #26
"control_mode" was another one that could be turned into an enum

[2020-04-28 01:34] ccoffrin commented on #37
Personally I like Ints ids, but I can see the convenience of String ids at the engineering level.  I think the risks of Any over String do not outweigh the possible benefits; but I am willing to be convinced otherwise.

[2020-04-28 02:16] pseudocubic commented on #36
`parse_dss` is a public function, I personally think it is useful to be able to get the pure dss data in an obvious way, I use it a lot for ensuring consistency between the different models

[2020-04-28 02:18] pseudocubic commented on #53
Hmm, we were considering something like this for controls when we get around to adding them, that is probably a more elegant way to define time series

[2020-04-28 02:19] pseudocubic commented on #26
Yeah, I tried that one in my experimental branch but I embarrassingly didn’t even think to convert `status` to enumerate

[2020-04-28 02:23] pseudocubic commented on #49
It might be a better idea to pare down the initially supported time series to the more common cases, generators, storage, loads, and solar. My potential use case for supporting them on things like lines was that i thought resistances could vary during the day based on weather or something, but I don’t think this is a common use case that’s need in the immediate term. Thoughts?

[2020-04-28 02:27] pseudocubic commented on #48
Actually, multiply is the more common case, because you might have one common loadshape for a large collection of loads, which will each have its own base load value. If we only do replace at the engineering level, we would need to generate time series for each individual load instead of only having one. Then there’s the one case where multiply won’t work, if the starting base load is zero.

[2020-04-28 02:29] pseudocubic commented on #46
For sure they are needed to support solar components if we want to allow users to provide irradiation values in the future. You have a point about them potentially not being useful for a lot of different components though, I will research whether they are needed on other things we plan to add in the future, and if not, your suggest to add them directly to the component is probably best.

[2020-04-28 02:30] pseudocubic commented on #45
@sanderclaeys @frederikgeth

[2020-04-28 02:32] pseudocubic commented on #44
They ultimately probably should, I just didn’t have potential values for them yet, in case there would be different options than generators, so we were pushing the definition of that field until we needed it

[2020-04-28 02:34] pseudocubic commented on #43
I might be mixing them up. Is `model` the typical term to define e.g. PQ, PV, and `control_mode` more for e.g. droop and isochronous?

[2020-04-28 02:37] pseudocubic commented on #40
The al2w case is a special case of transformer, in that it uses regular transformer fields, with some exceptions. This could be made more clear.

[2020-04-28 02:39] pseudocubic commented on #17
That’s fair, I don’t think I’ve seen a real example of nonzero conductance/reactance on a switch

[2020-04-28 02:41] pseudocubic commented on #41
Right now, no, though I was looking at using enum. Dispatchable could be a good candidate though and it will match with conventions across infrastructure models better.

[2020-04-28 04:15] sanderclaeys commented on #45
Yes, definitely. I intended `va` as such, but this must have changed in some iteration and I missed it.

[2020-04-28 04:25] sanderclaeys commented on #49
I would limit the initial spec to what we actually plan to support in the implementation from the start. So that being said, for me this feature is not a priority. This is easy to add later on as the use case arises, and wouldn't be break the spec either as it is a straight-forward extension.

[2020-04-28 04:26] sanderclaeys commented on #41
I am in favor of having two fields, one to indicate the state and another to indicate whether the state can be changed (`dispatchable` is a good candidate).

[2020-04-28 04:28] sanderclaeys commented on #47
@frederikgeth I seem to remember you were a fan of these

[2020-04-28 04:30] sanderclaeys commented on #39
should this perhaps be `dispatchable` as well or would this lead to the expectation that it is a `Bool` instead of `Vector{Bool}`?

[2020-04-28 04:36] sanderclaeys commented on #42
@pseudocubic
The only reason these are not collapsed to `shunt`, is to mirror the source component from OpenDSS more closely, where you can only enter a `b` value.

[2020-04-28 04:37] sanderclaeys commented on #44
Should we perhaps remove them from the initial spec then, and put them in a separate document until then?

[2020-04-28 04:43] sanderclaeys commented on #38
I agree.

(the current implementation automatically determines the tightest implied bound for both current and power, if also voltage bounds are specified, through the data processing methods in `data.jl`)

[2020-04-28 04:54] sanderclaeys commented on #37
The solution dictionary will contain dicts which are indexed over the terminals, which currently get converted to strings when being retrieved; also serialization will be easier if they have to be strings. Perhaps sticking to `String` will make our life easier?

@ccoffrin Do you think converting to Ints is important speed-wise? In terms of faster lookups, these Dicts always contain 4 pairs tops, s

[2020-04-28 13:01] pseudocubic commented on #39
`dispatchable` implies to me that the whole object is dispatchable, like how `status` works

[2020-04-28 13:56] bluejuniper commented on #42
Shunt capacitors will have discharge resistors across the terminals so `gs` in Real Life will not be negligible

[2020-04-28 14:05] bluejuniper commented on #35
OpenDSS does include a DG case with fuses under the IEEE test cases:
https://sourceforge.net/p/electricdss/code/HEAD/tree/trunk/Distrib/IEEETestCases/DG_Protection/DG_Prot_Fdr.dss

Common examples of where fuses would go would be on the "from" bus of a lateral line in a distribution system where it connects to the feeder trunk, or the primary terminal of a distribution transformer.

[2020-04-28 14:42] ccoffrin opened #54 "Consistency of Component Specialization"
In the case of loads there is a parameter called "model" in the case of shunts there are new components, "shunt_capacitor" and "shunt_reactor".  You might consider if a consistent convention can be defined when a patermeter like "model" should be used and when a new component type should be used.

[2020-04-28 14:46] ccoffrin commented on #37
In the engineering mode I would focus on useability first and performance second.  At the mathematical model performance is more of a concern.  Short strings should be similar in performance to Ints as Dict keys.

[2020-04-28 14:48] ccoffrin commented on #39
I think the while-object semantics is correct for `dispatchable`.  If you want finer conductor-by-conductor control is add separate 1-phase components for each conductor feasible?

[2020-04-28 14:50] ccoffrin commented on #42
I would say it is fine for format to be more general than OpenDSS, as long as it can natively support all of the parts of OpenDSS that we want to support.

[2020-04-28 14:53] ccoffrin commented on #43
Control mode in my mind has to do with a setting of a local control algorithm.  "bus_type" is used in transmission systems to refer to how a bus will be treated in a Power Flow study.  This is not really a component parameter, but more of data that is required for a specific type of solution method.  I would be inclined to omit "bus_type" from the data model and compute it as part of the model bui

[2020-04-28 14:54] ccoffrin commented on #40
Still, in the more general transformer model, does a "transformer code" appear in there?  I do not recall seeing it.

[2020-04-28 14:55] ccoffrin commented on #44
It would be helpful for several projects to have Solar and Storage in the first supported version of this.

[2020-04-28 15:02] ccoffrin commented on #46
Agreed.

The name I am used to seeing this type of data called is piecewise linear functions.  It is quite popular in the more advanced features of power systems tools.  I generally do not like such encodings becouse they are extremely general (can be constant, linear, convex, non-convex,...).  Lots of data cleaning is required (e.g. what if the linear segments do not cover the full operating rang

[2020-04-28 15:03] ccoffrin commented on #47
Maybe helpful in doing the per-unit calculaiton?

[2020-04-28 15:07] ccoffrin commented on #48
The example you mention is fairly common, but I am not sure it is reflective of real data.  It is a common hack that one uses to turn a data snap-shot into a multi-period dataset.  I generally would not advocate for this as it encourages sloppy modeling.

On use case that _might_ be reasonable for multiply is the amount of sun hitting a bunch of nearby solar panels, they are correlated in space so

[2020-04-28 16:21] pseudocubic commented on #39
Its possible that that might be useful, but in the case of al2w transformers, those fields are just a simplification of the general transformer component, where `tm_fix` is per phase, per winding, which wouldn't make sense to overload `dispatchable` for that in my mind

[2020-04-28 16:24] pseudocubic commented on #37
My preference is for Ints personally, but we can use strings if there is a strong reason to support strings as terminal ids. I'm not really sure that I see one, and having ints makes matrix indexation easier in my mind

[2020-04-28 16:26] pseudocubic commented on #40
that's an oversight, good catch, we will make sure to add xfmrcode

[2020-04-28 16:28] pseudocubic commented on #42
@bluejuniper is it worth keeping track of shunt_capacitors, vs shunt reactors, vs generic shunts? is there extra information that we will ever need to add to shunt_capacitor and not to shunt_reactor for example?

[2020-04-28 16:29] pseudocubic commented on #44
we definitely need those components, but I think we can push the discussion on what control modes we need to 0.9.1, we'll gauge its priority based on what people need it for

[2020-04-28 16:35] pseudocubic commented on #47
right now we calculate the voltage zones automatically in order to do the conversion to per-unit, but it we have a `voltage_zone` object we can skip this step and go straight to the pu conversion. I could imagine that our algorithm to detect the zones could create these objects and then the user could edit the values to debug optimization?

[2020-04-28 16:40] pseudocubic commented on #43
I see, so in the the workflow where we parse a dss file, you are suggesting that we would set properties on the generator's bus based on the `model` that dss specifies as parse-time, and when people build their own model they set the properties on the bus based on the injection model they want from the generator?

Do you have suggestions for any `control_mode` other than droop and isochronous at t

[2020-04-28 16:58] ccoffrin commented on #43
It's not really my specialty but something like `PV` makes sense, but it might be equivalent to `droop`.

[2020-04-28 19:28] pseudocubic commented on #54
the only advantage i really see to having shunt_capacitor, shunt_reactor, and shunt is to prevent name collision between different shunt like objects that we get from opendss.

Capacitors and reactors could both have an object named e.g. "this_is_a_shunt", and they won't collide in opendss, but if we put them all under `shunt` in PMD we need to rename the colliding id, or else fail out of the pars

[2020-04-28 19:38] bluejuniper commented on #42
The transient behavior of shunt capacitors and reactors is different. Shunt capacitors can cause overvoltages when they are connected, shunt reactors can cause overvoltages when they are disconnected.

Also, have you considered how to model static var compensators? There are a number of different topologies, but mostly they behave as (and sometimes really are) inverters with no power source connec

[2020-04-28 21:10] pseudocubic commented on #17
switches will still support `rs`, `xs`, and `linecode`, but not support `b` an `g` and throw warnings if a linecode is used where these values are significant

[2020-04-28 21:13] pseudocubic commented on #23
will convert state to enum OPEN and CLOSED

[2020-04-28 21:14] pseudocubic commented on #24
We will with clarifications, but nothing needs to be changed in the model at this time

[2020-04-28 21:16] pseudocubic commented on #25
will change to `voltage_scale_factor` `power_scale_factor`

[2020-04-28 21:16] pseudocubic commented on #26
we will change to enums `ENGINEERING`, `MATHEMATICAL`, `DSS`

[2020-04-28 21:17] #27 closed

[2020-04-28 21:17] #28 closed

[2020-04-28 21:18] #29 closed

[2020-04-28 21:19] pseudocubic commented on #30
Not needed in the short term, up for discussion later

[2020-04-28 21:19] #30 closed

[2020-04-28 21:20] pseudocubic commented on #32
this would be an additive non-breaking change and we can address in a future release

[2020-04-28 21:22] pseudocubic commented on #34
Seems difficult to support in a general way, recommend to use standard multinetwork support for now

[2020-04-28 21:22] #34 closed

[2020-04-28 21:28] pseudocubic commented on #35
We don't think this will be used in the near term in OPF or MLD problems, so we will convert fuses to a data object and revisit it in future versions

[2020-04-28 21:29] #36 closed

[2020-04-28 21:34] pseudocubic commented on #37
we will change type to `Vector{Int} || Vector{String}` but not `Vector{Union{Int,String}}`

[2020-04-28 21:35] #38 closed

[2020-04-28 21:36] pseudocubic commented on #39
will stay with `tm_fix`, just need to update the type in the model documentation

[2020-04-28 21:37] pseudocubic commented on #40
will add `xfmrcode`, and update clarity of explanation of AL2W

[2020-04-28 21:38] pseudocubic commented on #41
will add `dispatchable`, which will take enum FIXED or FREE

[2020-04-28 21:48] pseudocubic commented on #54
proposal is to collapse objects into `shunt`, with `model` parameter to provide engineering details (see #42), but to throw a warning at name collision and prepend name with originating component. E.g. if there is a capacitor named `shunt` already parsed into the `shunt` components, and a reactor named `shunt` needs to be parsed in, we will rename to `reactor.shunt` and throw a warning informing t

[2020-04-28 21:51] pseudocubic commented on #43
proposal is to change `control_mode` to only support enum `DROOP` `ISOCHRONOUS`, and if `vg` is specified we will assume PV generator

[2020-04-28 21:53] pseudocubic commented on #46
Curves in this context are merely linear interpolation between points given by x and y vectors. They only apply to two things right now, `fuse_curve` and `minimum_melting_curve`, and are slated to be used for p-t curves for `solar` in the future. We will remove the `curve` object and move this information directly to the components themselves

[2020-04-28 21:58] pseudocubic commented on #48
We will continue to support both multiply and replace at the engineering level, but follow any existing multinetwork conventions at the mathematical level

[2020-04-28 21:58] #48 closed

[2020-04-28 21:59] pseudocubic commented on #49
Will pare down time_series to not include any edge objects at this time. In near term, support for switches should be added so that switch state can be altered as a function of time

[2020-04-28 22:01] pseudocubic commented on #50
Need a longer discussion about how to line up time series that don't match and offsets, etc. Will only support time series that match in initial release, and non-matching time series can be handled in a future release

[2020-04-28 22:07] pseudocubic commented on #51
Accept change `vm_nom`, `sm_nom` to match `tm_nom`

To us, connections implies something a specific object is connecting to, whereas terminals on buses are terminals which are active on a bus, and can be connected to by many components, the semantics are slightly different between the two and we feel this justifies slightly different terminologies

will change to `vbase_default` and `sbase_default

[2020-04-28 22:09] pseudocubic commented on #53
we will update to use @ccoffrin's suggestion of having a `"time_series"` dictionary instead of components where the user can specify `time_series` objects for each parameter

[2020-04-28 22:31] ccoffrin commented on #41
I would consider `YES`\`NO` for this. `FREE` is not super intuitive to me, out of context on might think, dispatching costs money or is free.

[2020-04-29 05:10] sanderclaeys commented on #52
I agree for `xsc/rsc`, though I would make an exception for `rs`. The winding resistance `rs` is measured by passing a DC-current from one phase to another, so inductance doesn't make much sense here. I will rename it to `rw` though, with `w` for winding.

[2020-04-29 05:32] sanderclaeys commented on #41
I updated the enum values.

However, I am wondering whether `dispatchable` is the best term for components such as loads, when it actually means `shedable`. Loads are often considered in the context of flexible demand, and dispatchable for me implies a continuous adjustment range.

[2020-04-29 13:14] #41 closed

[2020-04-29 13:16] #17 closed

[2020-04-29 13:17] #23 closed

[2020-04-29 13:17] #25 closed

[2020-04-29 13:17] #26 closed

[2020-04-29 13:17] #35 closed

[2020-04-29 13:17] #37 closed

[2020-04-29 13:21] #40 closed

[2020-04-29 13:22] #46 closed

[2020-04-29 13:22] #45 closed

[2020-04-29 13:24] #51 closed

[2020-04-29 13:25] #53 closed

[2020-04-29 13:26] pseudocubic commented on #24
I went back through this and it seems like every question you had @MartaVanin was covered. If not, let us know

[2020-04-29 13:26] #24 closed

[2020-04-29 13:27] #52 closed

[2020-04-29 13:29] #49 closed

[2020-04-29 13:30] #50 closed

[2020-04-29 13:35] #33 closed

[2020-04-29 13:38] #22 closed

[2020-04-29 13:38] #44 closed

[2020-04-29 13:38] #32 closed

[2020-04-29 13:39] #42 closed

[2020-05-01 13:31] #54 closed

[2020-05-01 13:31] #43 closed

[2020-05-01 13:33] pseudocubic commented on #47
component is not being active used in the current refactor and implementation would not be a breaking change, pushing discussion to PMD repo

[2020-05-01 13:33] #47 closed